librivox_spanish_recreation_env

.idea
.~lock.corpus_info.csv#
.~lock.corpus_info_formatted_sorted.csv#
corpus_info/.~lock.corpus_info_formatted_sorted.csv#

original_audios
transformed_audios
transformed_audios_cropped

pseudo_fixed_annotations

useful_local_scripts.bash
